#heading {
    color : red;
}

.header{
    display : flex;
    justify-content: space-between;
    border:  1px solid black;
    border-radius: 10px;
}
.header-logo{
   width : 80px;
   margin: 10px;

}

.header > ul {
    display: flex;
   
    
}

.header >ul > li {

    list-style:  none;
    font-size: 17px;
    margin: 0px 20px;
    margin: 0 20px;
    text-align: center;
}


.res-card{
   
    width: 200px;
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin: 10;
    
}

.res-card:hover {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
    transform: translateY(-5px);
}

.res-card-img{
    width: 180px;
    margin: 10px;
    
}
.serch-bar{
    margin-top: 30px;
}

.cusions{
    margin: 10px;
}

.res-container{
    display: flex;
    flex-wrap:  wrap;
}

.shimmer-container{
    display: flex;
    flex-wrap: wrap;
}

.shimmer-card{
   
    width: 200px;
    height: 500px;
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 30px;
    margin: 10;
    background-color: rgb(197, 197, 197);
    
}

